@page "/game/{gameId}"
@using Microsoft.AspNetCore.SignalR.Client

<h1 title="@ConnectionState">
    @{
        var color = ConnectionState switch
        {
            HubConnectionState.Disconnected => "tomato",
            HubConnectionState.Connected => "green",
            _ => "lightgrey"
        };
    }
    <i class="fas fa-ship pr-2" style="color: @color"></i>
    Game - @($"{_playerName} vs. {_opponentName}")
</h1>

@{
    var cssClass =
        _availableShips is { Count: > 0 } && !ShipsPlaced && _userClickedSetShips
            ? "d-inline"
            : "d-none";

    <div class="pb-2">
        <button type="button" class="btn btn-lg btn-primary"
                disabled="@(_availableShips is  { Count: > 0 })"
                @onclick="@PlacePlayerShips"
                title="Set ships">
            <i class="fas fa-check pr-2"></i> Set ships
        </button>
    </div>
}

@if (_game is null)
{
    <i class="fa fa-cog fa-spin fa-2x fa-fw pr-2"></i>
    <span class="display-4">Loading game board...</span>
}
else if (_availableShips is not null)
{
    <CascadingValue Value="this">
        <div class="pb-2 d-flex">
            @foreach (var ship in _availableShips)
            {
                <DraggableShip Ship="ship" />
            }
        </div>
        <div class="pb-2">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-yours-tab" data-toggle="tab"
                       href="#nav-yours" role="tab" aria-controls="nav-home" aria-selected="true">
                        <i class="fas fa-user-secret pr-2"></i> Your Board
                    </a>
                    <a class="nav-item nav-link" id="nav-tracking-tab" data-toggle="tab"
                       href="#nav-tracking" role="tab" aria-controls="nav-tracking" aria-selected="false">
                        <i class="fas fa-binoculars pr-2"></i> Tracking Board
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-yours" role="tabpanel" aria-labelledby="nav-home-tab">
                    <GameBoard Size="_game.BoardSize"
                               ShipPlaced="@OnShipPlaced"
                               IsDisabled="@IsYourBoardDisabled" />
                </div>
                <div class="tab-pane fade" id="nav-tracking" role="tabpanel" aria-labelledby="nav-tracking-tab">
                    <GameBoard Size="_game.BoardSize"
                               ShotCalled="@OnCallShot"
                               IsTrackingBoard="true"
                               IsDisabled="@IsTrackingBoardDisabled" />
                </div>
            </div>
        </div>
    </CascadingValue>

    <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse"
                data-target="#collapse" aria-expanded="false" aria-controls="collapse">
            Game Log
        </button>
    </p>
    <div class="collapse" id="collapse">
        <div class="card card-body">
            <ul class="list-group">
                @for (int i = _gameLog.Count; i-- > 0;)
                {
                    <li class="list-group-item">@_gameLog[i]</li>
                }
            </ul>
        </div>
    </div>
}