@page "/lobby"
@using Microsoft.AspNetCore.SignalR.Client

<h1 title="@(ConnectionState)">
    @{
        var (status, color) = ConnectionState switch
        {
            HubConnectionState.Disconnected => ("fa-unlink", "tomato"),
            HubConnectionState.Connected => ("fa-link", "green"),
            _ => ("fa-cog fa-spin", "lightgrey")
        };
    }
    <i class="fas @(status) pr-2" style="color: @color"></i> Lobby
</h1>

<div class="input-group mb-3">
    <input type="text" class="form-control" @bind="PlayerName"
           placeholder="Name" aria-label="Name">
    <div class="input-group-append">
        @foreach (var size in new[] { BoardSize.FiveByFive, BoardSize.TenByTen, BoardSize.TwentyByTwenty })
        {
            static string Stringify(BoardSize size) => size switch
            {
                BoardSize.FiveByFive => "5x5",
                BoardSize.TenByTen => "10x10",
                _ => "20x20",
            };

            <button type="button" class="btn btn-primary"
                    disabled="@(!HasValidName)"
                    @onclick="@(_ => StartGame(size))">
                <i class="fas fa-plus pr-2"></i> New @(Stringify(size)) Game
            </button>
        }
    </div>
</div>

<h2>Joinable Games</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Player</th>
            <th scope="col">Rules</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (gameId, game) in _joinableGames ?? new Dictionary<string, Game>())
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-dotnet"
                            disabled="@(!HasValidName)"
                            @onclick="@(_ => TryJoinGame(gameId))">
                        <i class="fas fa-sign-in-alt pr-2"></i> Join
                    </button>
                </td>
                <td>
                    @($"{game.PlayerOne.Name} is waiting for an opponent.")
                </td>
                <td>
                    @{ 
                        var rulesText = game.BoardSize switch
                        {
                            BoardSize.FiveByFive => "Small: 5x5 game board with three ships.",
                            BoardSize.TwentyByTwenty => "Large: 20x20 game board with ten ships.",
                            _ => "Default: 10x10 game board with five ships."
                        };
                    }

                    @rulesText
                </td>
            </tr>
        }
    </tbody>
</table>
