@page "/game/{gameId}"
@using Microsoft.AspNetCore.SignalR.Client

<h1 title="@ConnectionState">
    @{
        var color = ConnectionState switch
        {
            HubConnectionState.Disconnected => "tomato",
            HubConnectionState.Connected => "green",
            _ => "lightgrey"
        };
    }
    <i class="fas fa-ship pr-2" style="color: @color"></i> Game
</h1>

<div class="pb-2">
    <button type="button" class="btn btn-lg btn-primary"
            disabled="@(_availableShips?.Count() > 0)"
            @onclick="@PlacePlayerShips"
            title="Set ships">
        <i class="fas fa-check pr-2"></i> Set ships
    </button>
    <button type="button" class="btn btn-lg btn-danger"
            title="Choose a row and column to fire at, then shot by clicking here."
            disabled="@(!_fireShotButtonEnabled)">
        <i class="fas fa-meteor pr-2"></i> Fire shot
    </button>
</div>

@if (_game is null)
{
    <span>Loading game board...</span>
}
else if (_availableShips is not null)
{
    <CascadingValue Value="this">
        <div class="pb-2 d-flex">
            @foreach (var ship in _availableShips)
            {
                <DraggableShip Ship="ship" />
            }
        </div>
        <div class="pb-2">
            <GameBoard Size="_game.BoardSize" ShipPlaced="@OnShipPlaced" />
        </div>
    </CascadingValue>
    <h5>Game Log</h5>
    <ul class="list-group">
        @foreach (var message in _gameLog)
        {
            <li class="list-group-item">@message</li>
        }
    </ul>
}